/* Page js(POWER) handle */
/* Ensures the page is html-only when off. */
body.off,.off *{
    all: default !important;
    all: initial !important;
    position: unset !important;

    content:none !important;
}
.off img{display:none;}
.off [data-color-main],.off [data-color-highlight]{
    color: black; background-color: white;
}
