/*
 * M3TIOR 2017
 */
/*
 * This file's meant to impliment the glow function of the website.
 * the idea is that you have up to 2 colors you can alternate between
 * and you do so with css animation.
 *
 * KEY:
 * GLOW - always the first segment of the name
 *
 *		After the 'GLOW' signature, is the scope of the animation,
 *		or what property it's maniputlating.
 *
 *
 * 0 - the color the element was to begin with;
 * 1 - the first
 * 2 - ...
 */

html{
	--animation-color-originem: var(--animation-color-originem, --color, --color-mono);
	--animation-color-mono: var(--animation-color-mono, #000);
	--animation-color-bi: var(--animation-color-bi, #FFF);
}

@keyframes GLOWbackground-color01{
	from{background-color: var(--animation-color-originem)}
	to{background-color: var(--animation-color-mono)}
}
@keyframes GLOWbackground-color02{
	from{background-color: var(--animation-color-originem)}
	to{background-color: var(--animation-color-bi)}
}
@keyframes GLOWbackground-color12{
	from{background-color: var(--animation-color-mono)}
	to{background-color: var(--animation-color-bi)}
}
@keyframes GLOWbackground-color102{
	0%{background-color: var(--animation-color-originem)}
	25%{background-color: var(--animation-color-mono)}
	50%{background-color: var(--animation-color-originem)}
	75%{background-color: var(--animation-color-bi)}
	100%{background-color: var(--animation-color-originem)}
}

@keyframes GLOWborder-color01{
	from{border-color: var(--animation-color-originem)}
	to{border-color: var(--animation-color-mono)}
}
@keyframes GLOWborder-color02{
	from{border-color: var(--animation-color-originem)}
	to{border-color: var(--animation-color-bi)}
}
@keyframes GLOWborder-color12{
	from{border-color: var(--animation-color-mono)}
	to{border-color: var(--animation-color-bi)}
}
@keyframes GLOWborder-color102{
	0%{border-color: var(--animation-color-originem)}
	25%{border-color: var(--animation-color-mono)}
	50%{border-color: var(--animation-color-originem)}
	75%{border-color: var(--animation-color-bi)}
	100%{border-color: var(--animation-color-originem)}
}

@keyframes GLOWcolor01{
	from{color: var(--animation-color-originem)}
	to{color: var(--animation-color-mono)}
}
@keyframes GLOWcolor02{
	from{color: var(--animation-color-originem)}
	to{color: var(--animation-color-bi)}
}
@keyframes GLOWcolor12{
	from{color: var(--animation-color-mono)}
	to{color: var(--animation-color-bi)}
}
@keyframes GLOWcolor102{
	0%{color: var(--animation-color-originem)}
	25%{color: var(--animation-color-mono)}
	50%{color: var(--animation-color-originem)}
	75%{color: var(--animation-color-bi)}
	100%{color: var(--animation-color-originem)}
}
