/*
 * M3TIOR 2017
 */
/*
 * This file's meant to impliment the glow function of the website.
 * the idea is that you have up to 2 colors you can alternate between
 * and you do so with css animation.
 *
 * KEY:
 * GLOW - always the first segment of the name
 *
 *		After the 'GLOW' signature, is the scope of the animation,
 *		or what property it's maniputlating.
 *
 *
 * 0 - the color the element was to begin with;
 * 1 - the first
 * 2 - ...
 */

html{
	--animation-color-control: var(--animation-color-control, --color, --color-primary);
	--animation-color-primary: var(--animation-color-primary, #000);
	--animation-color-secondary: var(--animation-color-secondary, #FFF);
}

@keyframes GLOWbackground-color01{
	from{background-color: var(--animation-color-control)}
	to{background-color: var(--animation-color-primary)}
}
@keyframes GLOWbackground-color02{
	from{background-color: var(--animation-color-control)}
	to{background-color: var(--animation-color-secondary)}
}
@keyframes GLOWbackground-color12{
	from{background-color: var(--animation-color-primary)}
	to{background-color: var(--animation-color-secondary)}
}
@keyframes GLOWbackground-color102{
	0%{background-color: var(--animation-color-control)}
	25%{background-color: var(--animation-color-primary)}
	50%{background-color: var(--animation-color-control)}
	75%{background-color: var(--animation-color-secondary)}
	100%{background-color: var(--animation-color-control)}
}

@keyframes GLOWborder-color01{
	from{border-color: var(--animation-color-control)}
	to{border-color: var(--animation-color-primary)}
}
@keyframes GLOWborder-color02{
	from{border-color: var(--animation-color-control)}
	to{border-color: var(--animation-color-secondary)}
}
@keyframes GLOWborder-color12{
	from{border-color: var(--animation-color-primary)}
	to{border-color: var(--animation-color-secondary)}
}
@keyframes GLOWborder-color102{
	0%{border-color: var(--animation-color-control)}
	25%{border-color: var(--animation-color-primary)}
	50%{border-color: var(--animation-color-control)}
	75%{border-color: var(--animation-color-secondary)}
	100%{border-color: var(--animation-color-control)}
}

@keyframes GLOWcolor01{
	from{color: var(--animation-color-control)}
	to{color: var(--animation-color-primary)}
}
@keyframes GLOWcolor02{
	from{color: var(--animation-color-control)}
	to{color: var(--animation-color-secondary)}
}
@keyframes GLOWcolor12{
	from{color: var(--animation-color-primary)}
	to{color: var(--animation-color-secondary)}
}
@keyframes GLOWcolor102{
	0%{color: var(--animation-color-control)}
	25%{color: var(--animation-color-primary)}
	50%{color: var(--animation-color-control)}
	75%{color: var(--animation-color-secondary)}
	100%{color: var(--animation-color-control)}
}


@keyframes darkbluered {
	0%{
		background-color: 311010;
	}
	50%{
		backgroung-color: var(--color-primary-dark);
	}
	100%{
		background-color: 101031;
	}
}
