/*
 * M3TIOR 2017
 */

html{
	/*
	 * Global Variable / Value Descriptor Location
	 */
	--color-primary: #360034;
	--color-primary-light: #460044;
	--color-primary-dark: #260024;
	--color-primary-darker: #160014;
	--color-primary-lighter: #560054;
	--color-highlight: #E2D5E1;
}

.color-primary{
	background-color: var(--color-primary);
}
.color-primary-light{
	background-color: var(--color-primary-light);
}
.color-primary-dark{
	background-color: var(--color-primary-dark);
}
.color-primary-lighter{
	background-color: var(--color-primary-lighter);
}
.color-primary-darker{
	background-color: var(--color-primary-darker);
}
