/* DOM LIST:
 *   ID::
 *     ASCII-art - ascii art pane
 *     ArtPanel - traditional art pane
 *     Links - social navigation pane
 *     About -
 *     Recent -
 *
 *   CLASS::
 *     bone -- hide class when css is executed
 *     *-skin -- fancy animation something or other
 *     *-muscle -- javascript leverage
 *
 *     link-btn -- linl button optimization
 *     link-img -- link image optimization
 */

*{
	/*
	 * Global Variable / Value Descriptor Location
	 */
	 --color-primary: #360034;
	 --color-primary-light: #460044;
	 --color-primary-dark: #260024;
	 --color-highlight: #E2D5E1;
}

/* ICONS */
/*
[longdesc=Github]{
    src: url(https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png);
    content: url(https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png);
}
[longdesc=Gitbook]{
    src: url(https://avatars2.githubusercontent.com/u/7111340?v=3&s=400);
    content: url(https://avatars2.githubusercontent.com/u/7111340?v=3&s=400);
}
[longdesc=Youtube]{
    src: url(https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png);
    content: url(https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png);
}
[longdesc=Soundcloud]{
    src: url(https://w.soundcloud.com/icon/?color=orange_transparent&size=64);
    content: url(https://w.soundcloud.com/icon/?color=orange_transparent&size=64);
}
[longdesc=DeviantArt]{
    src: url(https://st.deviantart.net/minish/main/logo/logo-mark.png);
    content: url(https://st.deviantart.net/minish/main/logo/logo-mark.png);
}
*/

/*-------------------- PAGE SKIN ------------------------*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*=== CSS3 TAGS ===*/
body{
	padding: 0px;
	margin: 0px;
	background-color: var(--color-primary-dark);
	color: var(--color-highlight);
}

p{
	vertical-align: top;
}

/*=== PAGE SPECIFIC ===*/
