/*
 * M3TIOR 2017
 */


/* ICONS */
/*
[longdesc=Github]{
    src: url(https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png);
    content: url(https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png);
}
[longdesc=Gitbook]{
    src: url(https://avatars2.githubusercontent.com/u/7111340?v=3&s=400);
    content: url(https://avatars2.githubusercontent.com/u/7111340?v=3&s=400);
}
[longdesc=Youtube]{
    src: url(https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png);
    content: url(https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png);
}
[longdesc=Soundcloud]{
    src: url(https://w.soundcloud.com/icon/?color=orange_transparent&size=64);
    content: url(https://w.soundcloud.com/icon/?color=orange_transparent&size=64);
}
[longdesc=DeviantArt]{
    src: url(https://st.deviantart.net/minish/main/logo/logo-mark.png);
    content: url(https://st.deviantart.net/minish/main/logo/logo-mark.png);
}
*/

*{
	/*
	 * Global Variable / Value Descriptor Location
	 */
	--social-btn-size: 100;
	--social-btn-count: 5;
	--social-btn-perline: 3;
	--social-btn-separation: var(--social-btn-size);
	--social-btn-x-separation: calc(var(--social-btn-size) * 1);
	--social-btn-y-separation: calc(var(--social-btn-size) * 1);
	--social-pane-size-y: calc(var(--social-btn-size) * 2);
	--social-pane-size-x: 450;

	--subject-gutter-size: 2.5;
	--subject-padding-size: var(--subject-gutter-size);
	--subject-size: calc( 50 - calc(var(--subject-padding-size) + var(--subject-gutter-size)));
	--subject-perline: 1;

	/*--- GLOBAL FIXES ---*/
	-webkit-padding-start: 0px;
}

body{
	padding: 0px;
	margin: 0px;
	background-color: var(--color-primary);
	color: var(--color-highlight);
}
h1, h2, h3, p{
	text-align: center;
}
p{
	vertical-align: top;
}

#content *{
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#social *{
	padding:0px;
	margin:0px;
}
#social ul{
	height: calc(var(--social-pane-size-y) * 1px);
}
#social div:nth-child(2){
	width: calc(var(--social-pane-size-x, 450) * 1px);
}
#social li{
	display: inline-block;
	height: 50%;
	width: 0px;
	float: left;
	line-height: 0px;
	padding-left: calc( calc( 1 / var(--social-btn-perline) ) * 50%);
	padding-right: calc( calc( 1 / var(--social-btn-perline) ) * 50%);
}
#social li:nth-child(4){
	margin-left: calc( calc( 1 / var(--social-btn-perline) ) * 50%);
}
#social a{
	display: block;
	transform: translateX(-50%);
	background-color: var(--color-primary);
	border-radius: calc(var(--social-btn-size) * 1px);
	width: calc(var(--social-btn-size) * 1px);
	height: calc(var(--social-btn-size) * 1px);
}


.subject{
	flex: 0 0 calc(var(--subject-size) * 1%);
	padding: calc(var(--subject-padding-size) * 1%) !important;
	margin-bottom: 0px;
	margin: calc(var(--subject-gutter-size) * 1%);
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.topic{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.topic > h1, .topic > h2, .topic > h3{
	flex: 1 0 50%;
}

.Hcenter{
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.Vcenter{
	display: block !important;
	margin-top: auto !important;
	margin-down: auto !important;
}
.center{
	display: block !important;
	margin: auto !important;
}
