/*
 * M3TIOR 2017
 *
 * 	Website Navbar
 */

/* NOTE:
 *	For responsive design...
 *
 *	          Smartwatches > 319px
 *	320px  <= Smartphones  > 479px
 *	480px  <= Tablets      > 800px
 *	801px  <= Laptops      > 1280px
 *	1281px <= Desktops
 */

*{
	/*
	 * Global Variable / Value Descriptor Location
	 */

	/* --navbar-* */
	--navbar-font-size: 24;
	--navbar-size: calc(var(--navbar-font-size) * 2); /* (N)em */
	--navbar-icon-size: calc(var(--navbar-size) * calc( 2 / 3));
	/* NOTE:
	 *	Only doing this because I'm not sure if the behavior of the
	 *	"em" type is constant among different browsers.
	 */
}
html{
	min-width: 200px;
}

#navigation{
	color: var(--color-highlight);
	background-color: var(--color-primary);

	/* Sets the scale of each "em" increment*/
	font-size: calc(var(--navbar-font-size) * 1px);
	font-style: normal;
	font-family: "Courier";
	line-height: 0px;
	/*--------- It was breaking all my responsive stuff... --------------*/

	box-shadow: 0px 1px 20px #000;
	position: fixed;
	width: 100%;
	z-index: 99999999; /* covering my tush yet again */
}

#navigation *{
	padding: 0px;
	margin: 0px;
	border: none;
	line-height: calc(var(--navbar-font-size) * 1px); /*finally I found my problem...*/

	/* webkit breaks things lol */
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
}
#navigation label{
	height: calc(var(--navbar-size) * 1px);
	background: radial-gradient(var(--color-primary-dark), var(--color-primary));
}
#navigation label:hover{
	background: radial-gradient(circle, var(--color-highlight) 30%, rgba(0, 0, 0, 0) 65%);
}
#navigation img{
	height: calc(var(--navbar-icon-size) * 1px);
	width: calc(var(--navbar-icon-size) * 1px);
	src: url(icons/logo.svg);
    content: url(icons/logo.svg);
	padding: calc(calc(var(--navbar-size) - var(--navbar-icon-size)) * 0.5px);
	display: block;
	margin: auto;
}
#navigation li:hover{
	text-decoration:underline;
}
#navigation a{
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}
#navigation #muscles{
	border-top: 1px solid #000;
	display: none;
	width: 100%;
	position: relative;
}
#navbarCTRL:checked ~ #navigation #muscles{
	display: block;
}

/*
 * Smartwatches or Devices with small screens
 *
 * NOTE:
 *	I'm only really using two cases here because
 *	I have so little content on the navbar that it
 *	really shouldn't become a problem unless I try
 *	and add a few more links or something...
 *	but for now this should do since I'm in a rush.
 */
@media only screen and (max-width : 320px) {
	html{
		/*
		 * Have to make room for the navbar so it doesn't cover other
		 * elements of the document body...
		 */
		margin-bottom: calc(var(--navbar-size) * 1px);
	}
	#navigation{
		bottom: 0px;
	}
	#navigation *{
		display: none;
	}
	#navigation label{
		width: 100%;
		display: block;
		border-bottom: 1px solid #000;
	}
	#navigation li{
		padding: 10px;
		border-bottom: 1px solid #000;
	}
	#navigation li:hover{
		background-color: var(--color-primary-light);
	}
	#navbarCTRL:checked ~ #navigation{
		top: 0px;
		height: 100%;
	}
	#navbarCTRL:checked ~ #navigation *{
		display: block;
	}
	#navbarCTRL:checked ~ #navigation label{
		background: radial-gradient(circle, var(--color-highlight) 30%, rgba(0, 0, 0, 0) 65%);
	}
}

/* Above */
@media only screen and (min-width : 321px){
	html{
		/*
		 * Have to make room for the navbar so it doesn't cover other
		 * elements of the document body...
		 */
		margin-top: calc(var(--navbar-size) * 1px);
	}
	#navigation{
		top: 0px;
	}
	#navigation *{
		display: inline-block;
	}
	#navigation label{
		border-right: 1px solid #000;
		width: calc(var(--navbar-size) * 1px);
	}
	#navigation ul{
		position: absolute;
		padding-top: calc(calc(var(--navbar-size) - var(--navbar-font-size)) * 0.5px);
		padding-bottom: calc(calc(var(--navbar-size) - var(--navbar-font-size)) * 0.5px);
		padding-left: 20px;
	}
	#navbarCTRL:checked ~ #navigation #muscles{
		display: block;
	}
}
