/*
 * M3TIOR 2017
 *
 * 	Website Navbar
 */

/* NOTE:
 *	For responsive design...
 *
 *	          Smartwatches > 319px
 *	320px  <= Smartphones  > 479px
 *	480px  <= Tablets      > 800px
 *	801px  <= Laptops      > 1280px
 *	1281px <= Desktops
 */

*{
	/*
	 * Global Variable / Value Descriptor Location
	 */

	/* --navbar-* */
	--navbar-font-size: 24;
	--navbar-size: calc(var(--navbar-font-size) * 2); /* (N)em */
	/* NOTE:
	 *	Only doing this because I'm not sure if the behavior of the
	 *	"em" type is constant among different browsers.
	 */

	/* --navbar-icon-* */
	--navbar-icon-size: calc(var(--navbar-size) * calc( 2 / 3));

	/* --navbar-link-* */
	--navbar-link-padding-size: 5;
	--navbar-link-shadow-size: calc(var(--navbar-size) * calc( 1 / 10 ));
}

html{
	/*
	 * Have to make room for the navbar so it doesn't cover other
	 * elements of the document body...
	 */
	margin-top: calc(var(--navbar-size) * 1px);
}

#navigation{
	color: var(--color-highlight);
	background-color: var(--color-primary);

	/* Sets the scale of each "em" increment*/
	font-size: calc(var(--navbar-font-size) * 1px);
	font-style: normal;
	font-family: "Courier";

	box-shadow: 0px 1px 20px #000;

	height: calc(var(--navbar-size) * 1px);
	position: fixed;
	width: 100%;
	top: 0px;
}
#navigation .bone{ display: none;}

#navigation *{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	border: none;

	/* webkit breaks things lol */
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
}
#navigation button{
	background: radial-gradient(var(--color-primary-dark), var(--color-primary));
	border-right: 1px solid #000;
	height: calc(var(--navbar-size) * 1px);
	width: calc(var(--navbar-size) * 1px);
	float: left; /* everything breaks otherwise... */
}
#navigation button:hover{
	background: radial-gradient(var(--color-highlight) 30%, rgba(0, 0, 0, 0) 65%);
}
#navigation img{
	height: calc(var(--navbar-icon-size) * 1px);
	width: calc(var(--navbar-icon-size) * 1px);
	src: url(icons/logo.svg);
    content: url(icons/logo.svg);
}
#navigation ul{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 20px;
}
#navigation li{
	position: relative;
}
#navigation li:hover{
	text-decoration:underline;
}
#navigation a{
	color: inherit;
	font-style: normal;
	text-decoration: inherit;
}
