/*
 * M3TIOR 2017
 *
 * 	Website Navbar
 */

/* NOTE:
 *	For responsive design...
 *
 *	          Smartwatches > 319px
 *	320px  <= Smartphones  > 479px
 *	480px  <= Tablets      > 800px
 *	801px  <= Laptops      > 1280px
 *	1281px <= Desktops
 */

*{
	/*
	 * Global Variable / Value Descriptor Location
	 */

	/* --navbar-* */
	--navbar-font-size: 24;
	--navbar-size: calc(var(--navbar-font-size) * 2); /* (N)em */
	--navbar-icon-size: calc(var(--navbar-size) * calc( 2 / 3));
	/* NOTE:
	 *	Only doing this because I'm not sure if the behavior of the
	 *	"em" type is constant among different browsers.
	 */
}
html{
	min-width: 200px;
}

#navigation{
	color: var(--color-highlight);
	background-color: var(--color-primary);

	/* Sets the scale of each "em" increment*/
	font-size: calc(var(--navbar-font-size) * 1px);
	font-style: normal;
	font-family: "Courier";
	line-height: 0px;
	/*--------- It was breaking all my responsive stuff... --------------*/

	box-shadow: 0px 1px 20px #000;
	position: fixed;
	width: 100%;
	z-index: 2; /* covering my tush yet again */

	height: calc(var(--navbar-size) * 1px);
}

#navigation *{
	padding: 0px;
	margin: 0px;
	border: none;
	line-height: calc(var(--navbar-font-size) * 1px); /*finally I found my problem...*/
	color: var(--color-highlight);
	text-decoration: none;

	/* webkit breaks things lol */
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
}
#navigation > label{
	/* This holds our toggle controller */
	background: radial-gradient(var(--color-primary-dark), var(--color-primary));
}
#navigation > label > img{
	height: calc(var(--navbar-icon-size) * 1px);
	width: calc(var(--navbar-icon-size) * 1px);
	src: url(icons/logo.svg);
	content: url(icons/logo.svg);
	padding: calc(calc(var(--navbar-size) - var(--navbar-icon-size)) * 0.5px);
	display: block;
	margin: auto;
}
#navigation #navigation-content > ul > li{
	display: inline-block;
}
#navigation #navigation-content > ul > li:hover{
	text-decoration:underline;
}
#navigation #muscles{
	display: none;
	padding: 10px;
	width: calc(100% - 20px); /*for the padding*/
}
#navbarCTRL:checked ~ #navigation #muscles{
	display: block;
	z-index: 1;
}

/*
 * Smartphones or Devices with small screens
 *
 * NOTE:
 *	I'm only really using two cases here for now because
 *	I have so little content on the navbar that it
 *	really shouldn't become a problem unless I try
 *	and add a few more links or something...
 *	but for now this should do since I'm in a rush.
 */
@media only screen and (max-width : 380px) {
	html{
		/*
		 * Have to make room for the navbar so it doesn't cover other
		 * elements of the document body...
		 */
		margin-bottom: calc(var(--navbar-size) * 1px);
	}

	/*----- Core Toggle Function ------*/
	#navbarCTRL:checked ~ #navigation{ 		/* Resize Navbar */
		top: 0px;
		height: 100%;
	} /* ELSE */
		#navigation{
			bottom: 0px;
	}
	#navbarCTRL:checked ~ #navigation > *{	/* Toggle Content */
		display: block;
	} /* ELSE */
		#navigation > *{
			display: none;
	}
	/*---------------------------------*/

	#navbarCTRL:checked ~ #navigation #copyright > span{
		display: inline-block;
		padding: 10px;
	}

	#navbarCTRL:checked ~ #navigation > label{
		background: radial-gradient(circle, var(--color-highlight) 30%, rgba(0, 0, 0, 0) 65%);
		border-bottom: 1px solid var(--color-primary-dark);
	} /* ELSE */
		#navigation > label{
			display: block; /* override wildcard */
	}

	#navigation #navigation-content > ul > li{
		padding: 10px;
		border-bottom: 1px solid var(--color-primary-dark);
		width: calc(100% - 20px); /*for the padding*/
	}
	#navigation #navigation-content > ul > li:hover{
		background-color: var(--color-primary-light);
	}

	#navigation #navigation-content{
		height: calc(100% - calc(var(--navbar-size) * 2px));
		overflow-y: scroll;
		width: 100%;
	}

	#navigation #copyright{
		position: absolute;
		text-align: center;
		font-size: 12px;
		width: 100%;
		bottom: 0px;
		background-color: var(--color-primary-dark);
	}
}

/* Above */
@media only screen and (min-width : 381px){
	html{
		/*
		 * Have to make room for the navbar so it doesn't cover other
		 * elements of the document body...
		 */
		margin-top: calc(var(--navbar-size) * 1px);
	}
	#navigation{
		top: 0px;
	}
	#navigation > *{
		display: inline-block;
	}
	#navigation > #navigation-content{
		pointer-events: none;
		position: absolute;
		width: 100%;
	}
	#navigation > label{
		position: absolute;
		border-right: 1px solid #000;
		width: calc(var(--navbar-size) * 1px);
	}
	#navigation > label:hover{
		background: radial-gradient(circle, var(--color-highlight) 30%, rgba(0, 0, 0, 0) 65%);
	}
	#navigation #navigation-content > ul{
		position: absolute;
		left: calc(var(--navbar-size) * 1px);
		padding-top: calc(calc(var(--navbar-size) - var(--navbar-font-size)) * 0.5px);
		padding-bottom: calc(calc(var(--navbar-size) - var(--navbar-font-size)) * 0.5px);
		padding-left: 20px;
	}
	#navigation #muscles{
		position: absolute;
		top: calc(var(--navbar-size) * 1px);
		background-color: var(--color-primary));
		height: calc(100% - var(--navbar-size));
	}
	#navigation #copyright{
		float: right;
		padding: calc(var(--navbar-size) * 0.25px);
	}
	#navigation #copyright span{
		position:absolute;
		bottom:-15px;
		right:0px;
		visibility:hidden;
		font-size: 11px;
		display: inline-block;
		width: auto;
		padding: 10px;
	}
	#navigation #copyright:hover span{
		visibility: visible;
	}
}
